.home-container {
}

.header {
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-button {
    
}
.myVideo {
    position: fixed;
    z-index: -1;
    min-height: 100%;
}