/* src/components/Sidebar.css */

.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-box-shadow:    -3px 0 15px 0 #555;
    -webkit-box-shadow: -3px 0 15px 0 #555;
    box-shadow:         -3px 0 15px 0 #555;
    z-index: 100;
    text-transform: uppercase;
  }
  /* @media (max-width: 768px) {
    .sidebar {
        display: none;
    }
  } */
  .sidebar h1 {
    text-transform: none;

  }
  .sidebar-logo {
    -webkit-animation: jump 2s infinite  alternate;
    animation: jump 2s infinite  alternate;
  }
  @-webkit-keyframes jump {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  @keyframes jump {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  .sidebar-logo {
    height: 10vmin;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #000;
  }
  
  .sidebar ul li a:hover {
    color: #ff7700;
  }
  
  .content {
    margin-left: 220px; /* Adjust based on sidebar width */
    padding: 20px;
  }
  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      height: auto;
    }
  
    .sidebar ul {
      overflow: auto;
      display: flex;
      flex-direction: row;
    }
    .sidebar-logo {
      display: none;
    }
  
    .sidebar h1 {
      display: none;
    }
    .sidebar h4 {
      font-size: small;
      margin: 10px;
    }
    .content {
      margin-top: 100px;
      margin-left: 0px; /* Adjust based on sidebar width */
    }

  }