.navbar {
    background-color: transparent !important;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    position: sticky !important;
  }
  
  .navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    color: #111;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar-links a:hover {
    color: #ddd;
  }
  